#!/usr/bin/env perl
###############################################################################
#
# $Source$
#
#
# Purpose:
#
# Command line parameters:
#           
# Description:
#
##############################################################################

($key, $runtype, $ucCategory, $theory) = @ARGV;
$lcCategory = lc($ucCategory);

# Force output to be flushed
$| = 1;

  $label = <STDIN>;
  chop($label);
  $value = <STDIN>;
  chop($value);

  ########################################################################
  #
  # Dump out total energy. For optimizations, add total energy to total
  # energy vector as well.
  #
  ########################################################################
  $label =~ /(\S+)%begin/;
  $prebegin = $1;  # might be task_<tasktype> or a category type

  $eveckey = "";
  if (!($runtype =~ /Geo/)) {
#
#     write TE only for non-geometry optimization calculations
#
      print "key: TE\n";
      print "size:\n1\n";
      print "values:\n$value";
      print "\nunits:\nHartree\n";
      print "END\n";

  } else {
#
#     write TE and TEVEC (this is the target energy)
#
      print "key: TE\n";
      print "size:\n1\n";
      print "values:\n$value\n";
      print "\nunits:\nHartree\n";
      print "END\n";

      print "key: TEVEC\n";
      print "size:\n1\n";
      print "values:\n$value\n";
      print "\nunits:\nHartree\n";
      print "END\n";
 }
